   # INDIAN PREMIERE LEAGUE : A NUMBER GAME

In [1]:
# Import the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ipywidgets

In [2]:
# Read the IPL Dataset
project_data = pd.read_csv("IPL.csv", na_values = {'batsman_runs': 0,
                       'extra_runs': 0,
                       'total_runs': 0})
project_data
# project_data.fillna(0)

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1.0,NaN,1.0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1.0,NaN,1.0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1.0,NaN,1.0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1.0,NaN,1.0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193463,1237181,1,12,5,RR Pant,SS Iyer,NM Coulter-Nile,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193464,1237181,1,12,6,RR Pant,SS Iyer,NM Coulter-Nile,1.0,NaN,1.0,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193465,1237181,1,13,1,RR Pant,SS Iyer,KH Pandya,NaN,1.0,1.0,0,0,NaN,NaN,NaN,wides,Delhi Capitals,Mumbai Indians
193466,1237181,1,13,2,RR Pant,SS Iyer,KH Pandya,1.0,NaN,1.0,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193467,1237181,1,13,3,SS Iyer,RR Pant,KH Pandya,1.0,NaN,1.0,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians

In [3]:
x_lst = ["batsman", "bowler"]
y_lst = ["batsman_runs", "is_wicket", "extra_runs"]

# INTERACTIVE CHART

In [4]:
@ipywidgets.interact(style = plt.style.available, xaxis = x_lst, yaxis = y_lst)
def create_bar(style, xaxis, yaxis):
    with plt.style.context(style):
        plt.figure(figsize=(16,10))
        highest = project_data.groupby([xaxis])[yaxis].sum().reset_index().sort_values(by = [yaxis], ascending = False)
        top = highest[:10]
        plt.bar(top[xaxis], top[yaxis])
        plt.title("Top 10 {}".format(xaxis.capitalize(), yaxis.capitalize()))
        plt.xlabel(xaxis)
        plt.ylabel(yaxis)
        plt.show()

interactive(children=(Dropdown(description='style', options=('Solarize_Light2', '_classic_test_patch', 'bmh', …

The dataset I have used is a IPL (Indian Premier League) 'ball to ball' dataset. The dataset describes each and every ball bowled in the IPL cricket tournament and the result of the same. I found this dataset via Kaggle.com (https://www.kaggle.com/datasets/patrickb1912/ipl-complete-dataset-20082020).

The above visualization is an interactive chart where the user can select from a range of options. The user can select either the batsmen or bowlers to be viewed on the x-axis. Similarly, a bar chart can be created by plotting runs, wickets or extras on the y-axis. The create_bar function has been written to plot the top 10 statistics of the fields selected by the user and the default has been set to the top ten batsmen who have scored the highest runs. Similarly, the user can view:
1. Top 10 highest run scoring batsmen
2. Top 10 highest run scoring bowlers
3. Top 10 highest wicket taking bowlers
4. Top 10 highest wicket taking batsmen
5. Top 10 bowlers to concede extra runs
6. Top 10 batsmen to concede extra runs

In this way, I have created an interactive bar chart that allowes the user to view the top 10 batsmen/bowlers based on the field selected on the y-axis.

# CONTEXTUAL VISUALIZATION 1

In [5]:
%%HTML
<div class='tableauPlaceholder' id='viz1651630206160' style='position: relative'><noscript><a href='#'><img alt='MOST PLAYER OF THE MATCH AWARDS ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;IP&#47;IPL_16516301004550&#47;POM&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='IPL_16516301004550&#47;POM' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;IP&#47;IPL_16516301004550&#47;POM&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-GB' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1651630206160');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

For this section, I have decided to create a chart using Tableau Public (https://public.tableau.com/views/IPL_16516301004550/TossWins?:language=en-GB&:display_count=n&:origin=viz_share_link) and embed the same using HTML into a jupyter notebook.

I have used the IPL Matches dataset (https://www.kaggle.com/code/yekahaaagayeham/ipl-analysis-with-tableau/data?select=IPL+Matches+2008-2020.csv). The dataset contains information about every IPL match played between 2008 and 2020. Some major columns in this dataset are city, player of match, venue, and toss winner.

In IPL, after every match, the player with the best performance is awarded with the 'Player of the match' or 'Man of the match' award. In order to plot the players who have won the most 'Player of the match' awards, I decided to create a tree map using Tableau Public. From the above visualization, it is clearly visible that AB de Villiers is the player with the most 'Man of the match' performances(23). Furthermore, to reduce the complexity of the chart and to convey accurate details, I have restricted the number of entries to top 10. Therefore, the chart shows the top 10 players with the most 'Player of the match' awards.

# CONTEXTUAL VISUALIZATION 2

In [6]:
%%HTML
<div class='tableauPlaceholder' id='viz1651631040526' style='position: relative'><noscript><a href='#'><img alt='Number of Toss Wins By Team and Year ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;IP&#47;IPL_16516301004550&#47;TossWins&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='IPL_16516301004550&#47;TossWins' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;IP&#47;IPL_16516301004550&#47;TossWins&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-GB' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1651631040526');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

For this section, I have decided to create a chart using Tableau Public (https://public.tableau.com/views/IPL_16516301004550/TossWins?:language=en-GB&:display_count=n&:origin=viz_share_link) and embed the same using HTML into a jupyter notebook.

I have used the IPL Matches dataset (https://www.kaggle.com/code/yekahaaagayeham/ipl-analysis-with-tableau/data?select=IPL+Matches+2008-2020.csv). The dataset contains information about every IPL match played between 2008 and 2020. Some major columns in this dataset are city, player of match, venue, and toss winner.

A toss is an important aspect to the outcome of the game and hence it was important to analyze which team had won the highest number of tosses. Therefore, I decided to create an interactive chart which showcases the number of tosses won by each team for the year selected by the viewer. A year selector/filter is placed on the right top corner of the chart. When the user selects a year on the chart, the visualization alters to plot the data belonging to that specific year. Furthermore, I have included 'All' option in the filter which helps the user to view the number of tosses won by the team for all the years combined. Lastly, I have sorted the dashboard from high to low so that the team with the most number of toss wins is always at the top of the chart.

# EXTRA VISUALIZATION

In [1]:
%%HTML
<div class='tableauPlaceholder' id='viz1651790655902' style='position: relative'><noscript><a href='#'><img alt='RUNS SCORED BY INNINGS AND YEAR ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;IP&#47;IPL_16516301004550&#47;Sheet4&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='IPL_16516301004550&#47;Sheet4' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;IP&#47;IPL_16516301004550&#47;Sheet4&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-GB' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1651790655902');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

For this section, I have decided to create a chart using Tableau Public (https://public.tableau.com/views/IPL_16516301004550/Sheet4?:language=en-GB&publish=yes&:display_count=n&:origin=viz_share_link) and embed the same using HTML into a jupyter notebook.


For the last visualization, I have decided create an interactive bar chart which showcases the runs scored by each team for the year and innning selected by the user. For this visualization, I have used two datasets (IPL Matches https://www.kaggle.com/code/yekahaaagayeham/ipl-analysis-with-tableau/data?select=IPL+Matches+2008-2020.csv and IPL Ball to ball: https://www.kaggle.com/datasets/patrickb1912/ipl-complete-dataset-20082020).

One practical use case of this visualization is that it will help the observer to understand which team performed well during chasing scenarios (i.e 2nd innings) for the year selected on the filter. I have used a single value filter for the 'Innings' and a multiple value filter for the 'Year' so that the user can see the aggregated data for multiple IPL Seasons.